[Unit]
Description=Pi Rack (U6143) OLED display service
After=network.target

[Service]
Type=idle
ExecStart=/usr/local/bin/display-u6143

[Install]
WantedBy=multi-user.target
